body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    background-color: white;  
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background-color: #333; 
    color: white; 
    padding: 10px 0;
    text-align: center;
}


.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 20px;
    overflow: hidden; 
}

h1 {
    color: green; 
    text-align: center;
}

.color{
    color: #fff;
}

.wrapper {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 24px;
    text-transform: uppercase;
    transition: background 0.3s ease, transform 0.3s ease;
}

.wrapper:hover {
    background: linear-gradient(135deg, #a777e3, #6e8efb);
    transform: scale(1.05);
}

.wrapper:active {
    transform: scale(0.95);
}

.section {
    margin-bottom: 20px;
}

.section h2 {
    color: green; 
}

footer {
    background-color: #333; 
    color: white; 
    text-align: center;
    padding: 10px 0;
}

nav {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 0 20px;
}

.photos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.photo {
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.727);
    margin: 10px;
}

.photo img {
    width: 100%;
    height: auto;
    display: block;
    
}
#clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

#clock {
    font-family: 'Helvetica', sans-serif;
    font-size: 72px;
    color: #000000;
}

.calendar {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 9999;
    border-radius: 8px;
    font-family: Arial, sans-serif;
    width: 300px;
}

.calendar header {
    text-align: center;
    margin-bottom: 10px;
}

.calendar .today {
    background-color: #007bff;
    color: #fff;
}

.calendar header h2 {
    margin: 0;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}


.calendar table {
    width: 100%;
    border-collapse: collapse;
}

.calendar th,
.calendar td {
    text-align: center;
    padding: 8px 0;
}

.calendar th {
    background-color: #007bff;
    color: #fff;
}

.calendar td {
    border: 1px solid #ddd;
}

.calendar td:hover {
    background-color: #f5f5f5;
    cursor: pointer;
}

.sidebar {
    position: fixed;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.sidebar button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.sidebar button:hover {
    background-color: #0056b3;
}
