body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0; 
    background-color: white;  
    color: black;
    transition: background-color 0.3s, color 0.3s;
}
.hero {
   height: 100vh;
   background: url('Foto/WhiteLine.jpg') no-repeat center center/cover;
   color: #fff; 
   mask-image: linear-gradient(to bottom, white 60%, transparent 100%);
   padding-top: 30px;
   min-height: 70px; 
}
.box {
    width: 80%;
    margin: auto;
    overflow:hidden;
}
header a {
   color: #fff;
   text-decoration: none;
   text-transform: uppercase;
   font-size: 16px; 
   display: inline;
   padding: 0 20px 0 20px;
   font-weight: bold;
} 
header{ 
    div{ 
        div{
           h1{ 
                float: left;
                margin: 0;
            } 
        } 
    }
}
header nav{
   float: right;
   margin-top: 10px;
   background-color: transparent;
}
.color2{
    color: #ffffff;
}
.wrapper {
    background: linear-gradient(135deg, #6e8efb, #a777e3);
    border: none;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 12px 24px;
    text-transform: uppercase;
    transition: background 0.3s ease, transform 0.3s ease;
    margin: 5px;
}
.wrapper:hover {
    background: linear-gradient(135deg, #a777e3, #6e8efb);
    transform: scale(1.05);
}
.wrapper:active {
    transform: scale(0.95);
}
.moving{
    background: linear-gradient(135deg, #000000, #ffffff);
    color: white;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
    font-size: 20px;
    background-clip: text;
    -webkit-text-fill-color: transparent; 
    list-style-type: none;
    display: inline-block;
}
nav {
    background-color: #333;
    text-align: center;
    padding: 10px 0;
}
nav a {
    color: white;           
    text-decoration: none;
    padding: 0 20px;
}
.moving:hover{
    background: linear-gradient(135deg, #ffffff, #000000);
    transform: scale(1.05);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.moving:active{
    transform: scale(0.95);
}
.opentbtn {
    transition: margin-left .5s;
    padding: 16px;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    padding: 10px 15px;
    border: none;
    background: transparent;
}
.opentbtn:hover {
    background-color: #ffffff69;
    border-radius: 10px;
    cursor: pointer;
}
.welcom{
    color: #ffffff;
    font-weight: 800;
    font-size: 100px;
    text-align: left;
    margin-left: 150px ;
    margin-bottom: 10px;
    margin-right: 50%;
 }
.search-container {
   max-width: 509px;
   border-radius: 40px;
   background-color: #9a9a9a8f;
   padding: 10px;
   box-shadow: 0 2px 4px rgba(0,0,0,0.1);
   margin-left: 150px;
}
.search-input {
   width: 83%;
   padding: 10px;
   border: 1px solid #b6b6b6;
   border-radius: 40px;
   font-size: 16px;
   background: #ffffff;
}
.search-btn {
   padding: 10px 20px;
   font-size: 16px;
   background-color: #007bff;
   color: #fff;
   border: none;
   border-radius: 50px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}
.search-btn:hover {
   background-color: #0056b3;
}
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    overflow: hidden;
}
.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.5s;
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
.sidebar a:hover {
    color: #f1f1f1;
}
.sidebar div {
    text-align: center;
    margin-bottom: 20px;
}
.sidebar img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
h1 {
    color: #00ca14; 
    text-align: center;
}
.white-bullet {
    list-style-type: none; 
               li {
                   position: relative;
                }
                li::before {
                        content: '\2022'; 
                        color: white; 
                        position: absolute;
                        left: -20px; 
                }
}
.txtColor{
    color: #ffffff;
}
.color1{
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.calendarPosition{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar-box {
    background-color: rgb(0, 0, 0);
    padding: 10px;
    border: 1px solid #3c3c3c;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 200px;
    color: #fff;
}
.data {
    font-size: 18px;
}
.timp {
    font-size: 16px;
    color: #555;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-radius: 20px;
    overflow: hidden; 
}
.clock-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.hclock {
    font-family: 'Helvetica', sans-serif;
    font-size: 72px;
    color: #000000;
}
.photos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}
.photo {
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.727);
    margin: 10px;
}
.photo img {
    width: 100%;
    height: auto;
    display: block;   
}
.section {
    margin-bottom: 20px;
}
.section h2 {
    color: #000000; 
}
.styleLink {
    text-decoration:none;
}
.styleLink:visited {
    color: rgb(0, 81, 255);
}
.styleLink:hover {
    color: red;
}
.styleLink:active {
    color: rgb(255, 0, 212);
}
.texth2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.box1 {
    float: left;
    width: 30%;
    padding: 10px; 
}
.box1 img {
    width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.727);
}   
.container1 {
    width: 80%;
    overflow: hidden;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
    background: #ffffff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.buttonimg{
    display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}
.imgbutton {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.imgbutton:hover {
    background-color: #0056b3;
}
.imgbutton:disabled {
    background-color: #6c757d;
    cursor: not-allowed;
}
.imgcontainer {
    margin-top: 20px;
}
.imgcontainer img {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
footer {
    background: #333;
    color: rgb(255, 255, 255); 
    text-align: center;
    padding: 10px 0;
}
